{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'core/js/bootstrap.min.js' %}"></script>


</head>
<body>
  <div class="container">
      <br/>
      <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
              <form class="card card-sm">
                  <div class="card-body row no-gutters align-items-center">
                      <div class="col-auto">
                          <i class="fas fa-search h4 text-body"></i>
                      </div>
                      <!--end of col-->
                      <div class="col">
                          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscao">
                      </div>
                      <!--end of col-->
                      <div class="col-auto">
                          <button class="btn btn-lg btn-primary" type="submit">Busca</button>
                      </div>
                      <!--end of col-->
                  </div>
              </form>
          </div>
          <!--end of col-->
      </div>
  </div>
</body>
</html>